# Virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment variables & local secrets
.env

# VS Code settings
.vscode/

#Future of the project
project.txt


# SQLite database files and runtime journals
*.db
*.sqlite3
*.db-journal
*.db-wal
*.db-shm
